{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Join Us</h1>
        <p>Be a part of our mission to conserve water and share innovative solutions for water efficiency.</p>
        <p>By joining our community, you will:</p>
        <ul>
            <li>Access valuable resources and articles on water conservation.</li>
            <li>Contribute your own methods and techniques.</li>
            <li>Engage with experts and fellow members.</li>
            <li>Receive updates and news related to water conservation.</li>
        </ul>
        <h2>How to Join</h2>
        <p>Fill out the registration form <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0EtZy2ceFGYrfuwf-S4zWW4mKFKTSov9giKQGp0sFigmHFQ/viewform?usp=dialog" target="_blank">here</a> to become a member and start contributing to our community!</p>
    </div>
{% endblock %}
