<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login - Water-way's</title>
</head>
<body class="login-page">
    <main>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>

        <!-- Back to Home Button -->
        <div class="back-to-home">
            <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
        </div>
    </main>
</body>
</html>
